
.btn{
    background-color:lightblue;
    margin:0px 10px;
    padding: 12px;
    min-width: 140px;
    border-radius: 10px;
    text-transform: none;
   
}
.btn:hover{
    background-color:lightskyblue;
}

.sidelist{
    padding:0;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
   
}

.list{
    margin:10px 20px;
    
}
.sidelist>a{
    text-decoration: none;
    color: inherit;
}